/* Global */
html{/*旋转文字大小不会改变了--兼容模式*/width: 100%;
	height: 100%;
	-webkit-text-size-adjust:none;
	-moz-text-size-adjust:none;
	-o-text-size-adjust:none;
	text-size-adjust:none;}
body{margin: 0;
	padding: 0;
	width: 100%;
	height: 100%
	background:#47c9af;
	color: $74777b;
	font-weight: 300;
	font-size: 1.5em;
	font-family: "Raleway","Arail"}
	/*:after 选择器：在被选元素的内容后面插入内容
		：before 选择器：在被选元素的内容前面插入内容
		说明：需要使用content属性来指定要插入的内容
		浏览器兼容*/
*,*:after,*:before{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}	
	/*前后插入的内容都不要影响盒子大小边框，任何标签前后生成的动态内容的填充或者边框都不要影响盒子的大小*/
*,*:after,*:before{display: block;
					content: "";}
*,*:after{clear: both;}									

.nav{width: 500px;
	height: 300px;
	color: #fff;
	background: #000;
	position: relative;
	text-align: center;
	line-height: 300px;
	font-weight: bold;
	cursor:pointer;}	