/*
 	=== info ===	 
 	* Filename: activity_ui.css
 	* Decscription: activity_ui
 	* Version: 1.0.0(2015.11.04)
 	* Website: http://www.fenqiday.com
 	* Author: Rexhang (rexhang@outlook.com)
 */
body {
	position: relative;
}
.wrap {
	width: 100%;
	background-color: #7947ee;
}
.header-banner {
	width: 100%;
	height: 685px;
	margin: 0 auto;
}
.act-1 {
	width: 1200px;
	height: 811px;
	margin: 0 auto;
	background-color: #7947ee;
	position: relative;
}
.items {
	font-size: 26px;
	color: #FA1857;
}
.font_group {
	position: absolute;
	letter-spacing: 18px;
	font-weight: bold;
}
.font_group-1 {
	bottom: 48px;
	left: 132px;
}
.font_group-2 {
	bottom: 48px;
	left: 550px;
}
.font_group-3 {
	bottom: 48px;
	left: 958px;
}
.choice{
	width: 374px;
	height: 62px;
	border: 1px solid #f00;
	display: block;
	position: absolute;
	bottom: 148px;
	cursor: url('../img/pointer_mouse.cur'), pointer;
}
.choice_1{
	left: 6px;

}
.choice_2{
	left: 414px;
}
.choice_3{
	left: 822px;
}
.act-2 {
	width: 1200px;
	height: 1206px;
	margin: 0 auto;
	background-color: #7947ee;
	position: relative;
}
.btn {
	width: 150px;
	height: 50px;
	background-color: #FF7A7A;
	border-radius: 4px;
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
	box-shadow: 0 6px 2px #F03D39;
	cursor: url('../img/pointer_mouse.cur'), pointer;
	position: absolute;
}
.btn:active {
	box-shadow: 0 0px 2px #F03D39;
	bottom: 370px;
}
.btn_2:active {
	box-shadow: 0 0px 2px #F03D39;
	bottom: 58px;
}
.btn-1 {
	bottom: 382px;
	left: 194px;
}
.btn-2 {
	bottom: 382px;
	left: 596px;
}
.btn-3 {
	bottom: 382px;
	left: 998px;
}
.btn-4 {
	bottom: 68px;
	left: 194px;
}
.btn-5 {
	bottom: 68px;
	left: 596px;
}
.btn-6 {
	bottom: 68px;
	left: 998px;
}
.act-3 {
	width: 1200px;
	height: 1848px;
	margin: 0 auto;
	background-color: #7947ee;
	position: relative;
}
.btn_type2 {
	width: 220px;
	height: 50px;
	background-color: #FF7A7A;
	border-radius: 4px;
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
	box-shadow: 0 6px 2px #F03D39;
	cursor: url('../img/pointer_mouse.cur'), pointer;
	position: absolute;
}
.btn_type2-1 {
	left: 38px;
	top: 424px;
}
.btn_type2-2 {
	left: 340px;
	top: 424px;
}
.btn_type2-3 {
	left: 640px;
	top: 424px;
}
.btn_type2-4 {
	left: 942px;
	top: 424px;
}
.btn_type2_active:active {
	box-shadow: 0 0px 2px #F03D39;
	top: 436px;
}
.btn_type2-5 {
	left: 38px;
	top: 806px;
}
.btn_type2-6 {
	left: 340px;
	top: 806px;
}
.btn_type2_active_2:active {
	box-shadow: 0 0px 2px #F03D39;
	top: 816px;
}
.btn_type2-1-1 {
	left: 38px;
	bottom: 420px;
}
.btn_type2-1-2 {
	left: 340px;
	bottom: 420px;
}
.btn_type2-1-3 {
	left: 642px;
	bottom: 420px;
}
.btn_type2-1-4 {
	left: 944px;
	bottom: 420px;
}
.btn_type2_active_3:active {
	box-shadow: 0 0px 2px #F03D39;
	bottom: 410px;
}
.btn_type2-1-5 {
	left: 38px;
	bottom: 40px;
}
.btn_type2-1-6 {
	left: 342px;
	bottom: 40px;
}
.btn_type2_active_4:active {
	box-shadow: 0 0px 2px #F03D39;
	bottom: 30px;
}
.navs {
	position: fixed;
	left: 8px;
	top: 50%;
	margin-top: -120px;
	z-index: 998;
	display: none;
}
.contents-navs {
	width: 110px;
	margin-top: -4px;
	background: rgba(0, 0, 0, 0.4);
}
@-webkit-keyframes lines{
	0%{
		transform: scale(0);
		-webkit-transform: scale(0);
	}
	100%{
		transform: scale(1);
		-webkit-transform: scale(1);
	}
}
@keyframes lines{
	0%{
		transform: scale(0);
		-webkit-transform: scale(0);
	}
	100%{
		transform: scale(1);
		-webkit-transform: scale(1);
	}
}
.list-lines{
	animation: lines 500ms ease-in-out 0ms 1;
	-webkit-animation: lines 500ms ease-in-out 0ms 1;
}
.contents-navs > p {
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	color: #FF4B4B;
	text-align: center;
	cursor: url('../img/pointer_mouse.cur'), pointer;
}
.sel {
	background-color: #FF4B4B;
	color: #fff !important;
}
.act-4 {
	width: 1200px;
	height: 893px;
	margin: 0 auto;
	background-color: #7947ee;
	position: relative;
}
.btn_type2_2 {
	width: 290px;
	height: 54px;
	background-color: #FF7A7A;
	border-radius: 4px;
	color: #fff;
	text-align: center;
	line-height: 54px;
	font-size: 18px;
	box-shadow: 0 6px 2px #F03D39;
	cursor: url('../img/pointer_mouse.cur'), pointer;
	position: absolute;
}
.btn_type2-1-1-1 {
	left: 54px;
	bottom: 64px;
}
.btn_type2-1-1-2 {
	left: 458px;
	bottom: 64px;
}
.btn_type2-1-1-3 {
	left: 862px;
	bottom: 64px;
}
.btn_type2_active_5:active {
	box-shadow: 0 0px 2px #F03D39;
	bottom: 54px;
}
/*navs动画*/
@-webkit-keyframes rotates{
	0%{
		top: 0;
	}
	100%{
		top: 50%;
	}
}
@keyframes rotates{
	0%{
		top: 0;
	}
	100%{
		top: 50%;
	}
}
.rotatel{
	-webkit-animation: rotates 500ms linear 0ms 1;
	animation: rotates 500ms linear 0ms 1;
}
/*navs动画*/
