@charset "utf-8";
/*
*
* webname:维度端前端网
* website:http://www.weiduduan.com/
* author:vdu
* qq:2210682628
*
*/

/* reset */
html{ _text-overflow:ellipsis;}
body{ font:14px/26px Verdana,tahoma,Lucida,arial,Helvetica,sans-serif; color:#525252;}

body,div,p,span,form,iframe,blockquote,table,td,th,input,textarea,button,label,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6{ margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
ul,ol,li,dl{ list-style-type:none;}
em,i,dfn,cite,strong,small{ font-style:normal;} 
fieldset,button,input,select,option{ border:none; vertical-align:middle; font:12px/18px Verdana,tahoma,Lucida,arial,Helvetica,sans-serif;}
img{ border:0;}   textarea{ resize:none;}   table{ border-collapse:collapse; border-spacing:0;}

/* color */
a:link,a:visited{ color:#444; text-decoration:none;}
a:hover{ color:#A5151C; text-decoration:none;}

/* clearfix */
.clearfix{ *zoom:1;}
.clearfix:after{ display:table; line-height:0; content:""; clear:both;}

/* public.omission */
.fl{ float:left;}            .fr{ float:right;}            .tc{ text-align:center;}      .tr{ text-align:right;} 
.fb{ font-weight:bold;}      .f12{ font-size:12px;}        h3{ font-weight:normal;}      .listop{ padding-top:15px;}
.mr10{ margin-right:10px;}   .mr15{ margin-right:15px;}    .mL10{ margin-left:10px;}     .mL15{ margin-left:15px;}
.mt10{ margin-top:10px;}     .mt15{ margin-top:15px;}      .mb10{ margin-bottom:10px;}   .mb15{ margin-bottom:15px;}

/* weiduduan */
.weiduduan{ margin:0 auto;}
body{ background:#f2f2f2;}

#gallery{
	/* CSS3 Box Shadow */
	-moz-box-shadow:0 0 3px #AAAAAA;
	-webkit-box-shadow:0 0 3px #AAAAAA;
	box-shadow:0 0 3px #AAAAAA;
	
	/* CSS3 Rounded Corners */
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	
	border:1px solid white;
	
	background:url(../images/panel.jpg) repeat-x bottom center #fff;
	width:920px;
	overflow:hidden;
	position:relative;
	margin:15px auto;
	text-align:center;
}

#slides{ width:920px; height:400px; overflow:hidden;}
.slide{ float:left; width:920px; height:400px;}
#menu{ height:45px;}
#menu ul{ width:260px; height:45px; margin:0 auto;}
#menu ul li{ float:left; width:60px; height:45px; overflow:hidden;}
#menu ul li.inact:hover {background:url(../images/pic_bg.png) repeat;}
#menu ul li.act,#menu ul li.act:hover{ background:url(../images/active_bg.png) no-repeat;}
#menu ul li.fbar{ width:2px; background:url(../images/divider.png) no-repeat right;}
#menu ul li a{ display:block; height:35px; padding-top:10px; background:url(../images/divider.png) no-repeat right;}
/* 维度端前端网整理 http://www.weiduduan.com */